#loading(style='display: none;')
    .spinner-grow.text-primary(role='status')
      span.sr-only Loading...
    .spinner-grow.text-secondary(role='status')
      span.sr-only Loading...
    .spinner-grow.text-success(role='status')
      span.sr-only Loading...
    .spinner-grow.text-danger(role='status')
      span.sr-only Loading...
    .spinner-grow.text-warning(role='status')
      span.sr-only Loading...
    .spinner-grow.text-info(role='status')
      span.sr-only Loading...
    .spinner-grow.text-light(role='status')
      span.sr-only Loading...
    .spinner-grow.text-dark(role='status')
      span.sr-only Loading...